# SPDX-FileCopyrightText: Copyright (c) 2025 Prevas A/S
# SPDX-FileCopyrightText: Copyright (c) 2025 Jilay Sandeep Pandya
# SPDX-FileCopyrightText: Copyright (c) 2026 A. Schweigstill
# SPDX-License-Identifier: Apache-2.0

config STEPPER_ADI_TMC52XX
	bool "Activate trinamic tmc52xx"
	depends on DT_HAS_ADI_TMC52XX_ENABLED
	select STEPPER_ADI_TMC_UART if $(dt_compat_on_bus,$(DT_COMPAT_ADI_TMC52XX),uart)
	select STEPPER_ADI_TMC_SPI if $(dt_compat_on_bus,$(DT_COMPAT_ADI_TMC52XX),spi)
	default y

config STEPPER_ADI_TMC52XX_STEPPER
	bool "Activate trinamic tmc52xx motion controller"
	depends on DT_HAS_ADI_TMC52XX_STEPPER_ENABLED && STEPPER_ADI_TMC52XX
	default y

config STEPPER_ADI_TMC52XX_STEPPER_DRV
	bool "Activate trinamic tmc52xx stepper driver"
	depends on DT_HAS_ADI_TMC52XX_STEPPER_DRV_ENABLED && STEPPER_ADI_TMC52XX
	default y

if STEPPER_ADI_TMC52XX

module = TMC52XX
module-str = tmc52xx
source "drivers/stepper/adi_tmc/Kconfig.tmc_rampgen_template"

endif # STEPPER_ADI_TMC52XX
